page-login {
	/*  #Style Wizard Big image
	===========================================*/
	 // background imagem fundo+opacidade
	 .login-content{ 
		 background-image: url(../assets/cleofundo.png);
		 background-size: cover;
		 background-position: center;
		 -webkit-filter: opacity(70%); 
		 filter: opacity(70%); 
			 
	}
	
	//descricao texto primeiro
	.label-logo{
		color: azure;
		font-size: 150%;
		font-weight: bold;
		text-align: center;
		padding-top: 185px;
		
	}
	//decricao texto termos
	.label-description{
		color: azure;
		font-size: 140%;
		text-align: center;
		font-weight: bold;
		
	
	}
	texto info
	.label-info{
		font-weight: italic;
		color: #101907;
		font-size: 90%;
		text-align: center;
		
	}
	.top-row{
		height: 70%;
	}
	
	.bottom-row{
		height: 20%;
	
	
	}
	//cor header botao
	.toolbar-background {
		background-color:#f8c300;
	  }
	//cor link
	a:link {
		color: #ab09aa;
		
	}
	//titulo+logo
	ion-title {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 90px 1px;
		width: 100%;
		height: 100%;
		text-align: center;
	  }
	
	}
	
	