page-config {
	a{
			text-decoration: none;
		 
			
	}
	
	//perfil novo
	/*ion-title {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 90px 1px;
		width: 100%;
		height: 100%;
		text-align: center;
		}*/
		//cor header botao
	.toolbar-background {
		background-color:#f8c300;
		}
	.content{
			background:#f9f5e3;
	}
	

	}
	