<ion-navbar>
    <button ion-button menuToggle="user-menu">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        <ion-item detail-none no-lines color="secondary" *ngIf="user; else titleTemplate">
            <ion-avatar item-start>
                <img class="avatar" [src]="user.photo || 'assets/images/no-photo.png'">
            </ion-avatar>
            {{ title }}
        </ion-item>
        <ng-template #titleTemplate>
            {{ title }}
        </ng-template>
    </ion-title>
</ion-navbar>